Repository Izuchii1311/HeTi_ticket_web_application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-dependencies, migration

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: none

stages:
  - "deploy"
  - "build_dependencies"
  - "database_migration"
  - "database_seed"

deploy:
  stage: deploy
  tags:
    - someah
  only:
    - main
  script:
    - cd /home/someah/presensi-someah
    - git pull origin main

build-dependencies:
  stage: build_dependencies
  tags:
    - someah
  only:
    changes:
      - composer.{json,lock}
    refs:
      - main
  script:
    - cd /home/someah/presensi-someah
    - /bin/php8.1 artisan migrate

migration:
  stage: database_migration
  tags:
    - someah
  only:
    changes:
      - "database/migrations/*"
    refs:
      - main
  script:
    - cd /home/someah/presensi-someah
    - /bin/php8.1 artisan migrate

Fix Bug
  app/Http/Controllers/TicketController.php
  database/migrations/2024_07_27_211644_create_tickets_table.php
  resources/views/tiket/form.blade.php
  resources/views/tiket/index.blade.php
  resources/views/tiket/ticket.blade.php
Due: migration

Update Image Bug
  app/Http/Controllers/TicketController.php
  resources/views/tiket/ticket.blade.php
Due: none

Update code;
  app/Http/Controllers/TicketController.php
Due: none

menambahkan file logo HeTi_logo_2
  composer.lock
  public/assets/img/HeTi_Logo_2.png
  resources/views/templates/main.blade.php
  resources/views/templates/partials/navbar.blade.php
Due: build-dependencies

mengubah nama tiket, penyesuaian nama-nama menu
  resources/views/auth/login.blade.php
  resources/views/karyawan/form.blade.php
  resources/views/karyawan/form_edit.blade.php
  resources/views/karyawan/index.blade.php
  resources/views/layouts/partials/header.blade.php
  resources/views/status_karyawan/index.blade.php
  resources/views/templates/partials/sidebar.blade.php
  resources/views/templates/template_comment/index.blade.php
Due: none
